SetEnv APPLICATION_ENV development
Options -Indexes
ErrorDocument 403 /403.html

#<IfModule mod_deflate.c>
#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript
#BrowserMatch ^Mozilla/4 gzip-only-text/html
#BrowserMatch ^Mozilla/4\.0[678] no-gzip
#BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
#Header append Vary User-Agent
#</IfModule>

#<filesMatch "\.(xml|txt|css|js)$">
#Header set Cache-Control "max-age=172800, proxy-revalidate"
#</filesMatch>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]