*{color: inherit;}
body { background: #f2f2f2; margin: 0; padding: 0; color: #1d1e23; font-family: Arial, Helvetica, sans-serif;}
ul, li{ list-style-type: none; margin:0px; padding:0px; }
p, em, h1, h2, h3, h4, h5, h6,h7, br { margin: 0; padding: 0; font-weight:normal; }
a img { border:none; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.empty10{height: 10px; line-height: 10px; font-size: 10px;}

.header{ background-color:#1d1e23; padding:15px 0 0 0; height:48px; border-bottom:1px solid #fff;}
.midle_header{ width:960px; margin:auto;}
.logo{ z-index:2; position:absolute; float:left;}
.midle_header ul{ float:right; padding-top:7px;}
.midle_header li{ display:inline; padding-left:10px; font-size:13px;}
.link{ color:#CCCCCC; text-decoration:none;}
.link:hover{ color:#fff;}
.link_selected{ text-decoration:none; color:#FFFFFF;}

.content_menu{ background-image:url(../images/bg_menu.gif); background-repeat:repeat-y; background-color:#b10000; padding:16px; height:40px; background-position:center; border-bottom:2px solid #1d1e23}
.midle_menu{ width:960px; margin:auto; }
.menu{ float:left; padding-top:10px;}
.menu li{ float:left; padding: 0 14px 6px 10px; font-size:22px; background: url(../images/bg_separator.gif) no-repeat right; }

.link1{ text-decoration:none; color:#e5abab; }
.link1:hover{ color:#FFFFFF;}
.link1_selected{ text-decoration:none; color:#FFFFFF;}

.cauta{ float:right; padding-top:11px;}
.cauta li{ float:left;}

.container{ width:960px; margin:auto; padding:20px 0;}
.left_col{ float:left; width:300px;}

.left_col .modul .titlu { height:54px;}

.left_col .modul .titlu{ height:38px }
.left_col .modul .titlu a{ font-size:18px; font-weight:bold; color:#353740; text-decoration:none;}
.left_col .modul .left_titlu{ width:105px; height:23px; float:left; padding:8px 10px 5px 10px; background-color:#dddddd;border-radius:5px 0 5px 0;}

.left_col .modul .right_titlu{ width:153px; height:23px; float:right; padding:8px 10px 5px 10px;background-color:#dddddd; border-radius:0 5px 0 5px; }


.left_col .modul .sortare1 { padding:7px 0 10px 0; border-bottom:1px solid #bebebe; margin:0 10px;}
.left_col .modul .sortare1 li{ display:inline; padding:0 6px 0 0; font-size:12px; }
.left_col .modul .sortare1 .link3{ text-decoration:none; color:#373737; font-weight: 700; font-size:12px;}
.sortare1 ul li.ui-tabs-selected a{color:#dd3501;}
.left_col .modul .sortare1 .link3:hover{ text-decoration:none; color:#dd3501;}

.footer_modul_mic { padding:10px 0 10px 100px;}
.footer_modul_mic img{ margin:0 10px 0 0;}
.footer_modul_mic li{ display:inline; padding-left:8px;}






/*.left_col .modul .tab_selected{ float:left; height:26px; padding:4px 15px; }
.left_col .modul .tab_selected h2 a{ text-decoration:none; color:#373737; font-weight:bold; font-size:16px;}
.left_col .modul .tab{ float:left; height:26px; padding:4px 15px; background-color:#dcdcdc; width:134px; }
.left_col .modul .tab h2 a{ text-decoration:none; color:#373737; font-weight:bold; font-size:16px;}*/
.left_col .modul{ background-color:#fff; border:1px solid #cecece; border-radius:5px;}
.left_col .select_box{ height:16px; clear:both; padding: 4px 0 0 15px;}
.left_col .select_box li{ display:inline; font-size:12px;color:#373737; padding-right:2px;}
.left_col .select_box .link4{ text-decoration:none; color:#373737;}
.left_col .select_box .link4:hover{ color:#ad0000;}
.left_col .select_box .link4_selected{text-decoration:none; color:#ad0000;}


.login{ padding-bottom: 20px;}
.login ul { padding-top: 12px;}
.login ul p{ color:#a70000; font-size:16px; font-weight:bold; padding-bottom:3px;}
.link3{ color:#797d92;text-decoration:none; font-weight:bold;}
.link3:hover{ color:#1d1e23; text-decoration:none;}
.link3_selected{ color:#1d1e23; text-decoration:none; font-weight:bold;}

.login .titlu{  height:33px; }
.login .titlu h1{ font-size:18px; font-weight:bold;}

.login .titlu1{ background-image: url(../images/bg_modul.gif); background-repeat:repeat-x; height:33px; padding-top:11px; background-position:bottom;}
.login .titlu1 h1{ font-size:18px; color:#797d92;}
.login .titlu1 h1 span{font-weight:bold; color:#353740;}
.login .titlu2{ background-image: url(../images/bg_modul.gif); background-repeat:repeat-x; height:33px; padding-top:11px; background-position:bottom; }
.login .titlu2 h1{ font-size:18px; color:#797d92;}
.login .titlu2 h1 span{font-weight:bold; color:#353740;}

.login .linkuri{ float:left; padding-left:8px;}
.login .linkuri p{ padding:0!important; line-height:16px;}
.login .linkuri a{ font-size:12px; text-decoration:none; color:#000000; font-weight:normal;}
.login .linkuri a:hover{ text-decoration:underline;}
.loginform{background-image: url(../images/bg_modul.gif); background-repeat:repeat-x; }
.input{ background-image:url(../images/bg_login.gif); width:241px; height:26px; margin-bottom:6px;}
.input1{background-image:url(../images/bg_input.gif); width:241px; height:26px; }
.f4{ width:226px; height:20px; border:none; line-height:20px; font-size:14px; color:#666; margin:2px 0 0 7px; }
.right_col{ float:right; width:600px; background-color:#fff; border:1px solid #cecece; padding:10px 21px 21px 21px ; border-radius:5px; }
.right_col .modul{  margin-bottom:10px; text-align: center;}
.header_galerie{ border-bottom:1px solid #cccccc; height:30px; margin:10px 0;}
.header_galerie h1{ font-size:18px; font-weight:bold; float:left;}
.header_galerie p{ font-size:12px; float:right; color:#1d1e23}

.right_col .header_modul{ border-bottom:1px solid #cecece; margin-bottom:10px; padding:10px 0 15px 0;}
.right_col .header_modul h1{ font-size:20px; font-weight:bold;  padding-top:5px;text-align:left }
.right_col .header_modul h1 a{text-decoration:none; color:#1d1e23; font-weight:bold; font-size:18px; text-align:left }
.right_col .header_modul h1 a:hover{ text-decoration:underline;}
.right_col .footer_modul{ background-color:#dcdcdc; height:35px; padding:5px 10px 0 10px; margin-bottom:20px;} 
.right_col .footer_modul h1{ font-size:16px; font-weight:bold; float:left; }

.right_col .footer_modul .coment{ float:right;  background-image:url(../images/bg_separator1.gif); background-position:left; background-repeat:no-repeat; padding:3px 0 0 10px; height:29px}
.right_col .footer_modul .coment p{ font-size:11px; color:#494949; }
.right_col .footer_modul .coment p span{ color:#000;}
.right_col .footer_modul .raiting{ float:right;}
.right_col table { padding-top:10px;}
.right_col table td{ padding-bottom:12px;}
.right_col table p{ font-size:14px; font-weight:bold; color:#797d92; padding-bottom:5px;}
.right_col table p span{ color:#A70000;}
.right_col table p a{ color:#A70000; text-decoration:none;}
.right_col table p a:hover{ text-decoration:underline; }

.footer_galerie{background-color:#f2f2f2; padding:3px 10px; margin-top:15px; border:1px solid #cccccc;}
.text h1{ font-size:14px; font-weight:bold; padding-top:15px;}
.text p{ font-size:13px; color:#333333; padding-top:10px; line-height:1.4em}
.text p span{ font-weight:bold;}

.termeni{ height:20px; padding:5px 0 0 0; width:380px; }
.termeni p{ float:left; font-size:14px; padding:2px 0 0 10px;}
.termeni a{ text-decoration:none; color:#be0000;}
.termeni a:hover{ text-decoration:underline;}
.newsletter{float:right; border-left:1px solid #2e3038; padding: 0 0 0 15px; height:115px;}
.newsletter h2{ font-size:16px; font-weight:bold; padding-bottom:3px;}
.newsletter p{ font-size:12px; padding:6px 0 10px 0; color:#c6c6c6;}
.bg_input{ background-image:url(../images/bg_newsletter.gif); width:188px; height:26px; float:left; margin:0 3px 0 0;}
.news_input{ width:175px; height:18px; line-height:18px; font-size:14px;border:none; margin:3px 0 0 7px; background-color:#f6f6f6; color:#333333;}
.bt_newsletter{ float:left; background-image:url(../images/bt_trimite.gif); border:none; color:#FFFFFF; font-size:14px; font-weight:bold; cursor:pointer; width:77px; height:27px; line-height:27px; background-repeat:no-repeat; padding-bottom:4px;}

.informatii{ clear:both; border-bottom:1px solid #c9c9c9; padding:10px 0; margin:10px 0 20px 0; border-top:1px solid #c9c9c9;}
.informatii h5{ font-size:16px; color:#be0000; padding-bottom:7px;}
.informatii p{ font-size:14px; color:#5b5b5b;}
.header_user {  border-bottom:1px solid #c9c9c9; margin:10px 0;}
.header_user h1{ font-size:18px; font-weight:bold; padding-bottom:12px; }
.header_user h2{ font-size:18px; font-weight:bold; padding-bottom:12px; }
.header_user h2 a{ color:#000000; text-decoration:none;}
.footer_user{ border-top:1px solid #c9c9c9; margin-top:10px; padding:10px 0;}
.footer_user p{ font-size:14px; }
.footer_user p span{ color:#c70909;}
.contact li{ padding-top:5px; clear:both;}
.contact h2{ font-size:16px; color:#be0000; padding:0 0 10px 0;}
.contact p{ font-size:13px; color:#646464;}
.contact .f3{ width:300px; font-size:14px; line-height:25px; height:25px; border:1px solid #c9c9c9;}
.contact .txt{ width:230px; border:none; height:158px; margin:4px 2px 0 4px; font-size:14px; color:#666; }
.contact .bg_txt{ background-image:url(../images/bg_txt.gif); width:241px; height:166px; background-repeat:no-repeat;  }


.contact .zi{ float:left; height:25px; border:1px solid #c9c9c9; line-height:25px; font-size:14px;}
.contact .luna{ float:left;height:25px; border:1px solid #c9c9c9; line-height:25px; font-size:14px; margin-left:15px; }
.contact .an{float:left;height:25px; border:1px solid #c9c9c9; line-height:25px; font-size:14px; margin-left:15px; }
.raiting1{ width:100px; float:right; background-image:url(../images/bg_separator1.gif); background-position:left; background-repeat:no-repeat; padding:3px 0 0  10px; }
.raiting1 p{  font-size:11px; }

.comentarii{ padding-top:15px; }
.header_comentarii{ background-color:#be0000; padding:7px 10px; margin:20px 0 0 0; border:1px solid #bbbbbb;}
.header_comentarii p{ font-size:16px; color:#FFFFFF; font-weight:bold;}
.modul_comentariu{ border-bottom:1px solid #cfcfcf; padding:12px 0 10px 0;}
.modul_comentariu .nume a{ text-decoration:none; color:#be0000;font-size:14px; font-weight:bold;}
.modul_comentariu .nume a:hover{ text-decoration:underline;}
.modul_comentariu .nume span{font-size:12px; padding-top:4px;}
.left_comentariu{ float:left; width:60px; }
.left_comentariu img{ border: 1px solid #B4B4B4;}

.right_comentariu{ float:right; width:540px;}
.modul_comentariu .descriere{ font-size:13px; padding-top:6px; line-height:1.4em}
.lasa_coment{ padding-top:10px;}
.lasa_coment p{ font-size:18px; font-weight:bold; color:#1d1e23;}
.lasa_coment .txt{ font-size:14px; background-color:#f2f2f2; border:1px solid #d8d8d8; margin:10px 0 10px 0; width:600px; height:80px; }
.modul_galerie{ width:120px; height:220px; float:left; border:1px solid #d8d8d8; margin:5px 7px 5px 0; }
.modul_galerie .imagine{ height:120px; }
.modul_galerie .imagine img{ width: 120px; height:120px;}
.modul_galerie .titlu {border-top:1px solid #cecece; margin:4px 4px 0 4px; padding-top:6px; height:45px; }
.modul_galerie .titlu h1 {line-height:16px;}
.modul_galerie .titlu h1 a{ font-size:16px; font-weight:bold; text-decoration:none; color:#000;   }
.modul_galerie .vizite1{ padding:6px 4px 0 4px;}

.modul_galerie .vizite{ font-size:12px; color:#5b5b5b; }
.modul_galerie .vizite span{color:#1d1e23; font-weight:bold;}
.modul_galerie .categorie{ font-size:12px; color:#5b5b5b;}
.modul_galerie .categorie a{ text-decoration:none; color:#1d1e23; font-weight:bold;}
.modul_galerie .categorie a:hover{ text-decoration:underline;}

.sorteaza{ float:right; width:200px;}
.sorteaza p{ font-size:14px; color:#646464; float:left;}
.sortare{ float:right; }


.paginare{ clear:both;}
.paginare ul{ padding-top:10px;}
.paginare li{ display:inline; padding-right:6px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.link2{ text-decoration:none; color:#000; padding:2px 5px; border:1px solid #ccc; border-radius:3px;}
.link2:hover{ padding:2px 5px; background-color:#a70000; color:#fff; border:1px solid #a70000;border-radius:3px;}
.link2_selected{ background-color:#a70000; color:#fff; padding:2px 5px; border:1px solid #a70000; text-decoration:none;border-radius:3px;}

.footer .top{ height:130px;}
.footer .bottom { padding:7px 0 0 0;}
.footer .bottom p{ font-size:10px; color:#f2f2f2;}
.footer{ background-image:url(../images/bg_footer.gif);padding-top:15px; height:160px; border-top:3px solid #a70000;}
.footer .categorii { float:left; border-right:1px solid #2e3038; padding-right:30px; height:115px;}
.footer .categorii h2{ font-size:16px; font-weight:bold; padding-bottom:3px;}
.footer .categorii li{ font-size:13px; padding-top:2px;}

.footer .info { float:left; border-right:1px solid #2e3038; padding: 0 30px 0 15px; height:115px;}
.footer .info h2{ font-size:16px; font-weight:bold; padding-bottom:3px;}
.footer .info li{ font-size:13px; padding-top:2px;}
.footer .info ul li a{text-decoration: none; color: #ccc;}
.footer .info ul li a:hover{color: #fff;}
.midle_footer{ width:960px; margin:auto; color:#FFFFFF; font-size:12px;}

.footer .taguri{ float:left; padding:0 30px 0 15px; width:280px;}
.footer .taguri h2{font-size:16px; font-weight:bold; padding-bottom:3px;}
.footer .taguri h3 a{ text-decoration:none; color:#a2a2a2; font-weight:bold; display:block; padding:0 10px 2px 0; float:left; font-size:11px; }
.footer .taguri h3 a:hover{ color:#fff;}

.f1{ width:225px; height:24px; border:1px solid #fff; line-height:24px; font-size:14px; color:#666666;   }
.f2{ width:238px; height:20px; border:1px solid #c9c9c9; line-height:20px; font-size:14px; color:#666; margin-bottom:8px;}
.f3{ width:238px; height:20px; border:1px solid #c9c9c9; line-height:20px; font-size:14px; color:#666; }
/*#search{ width:190px; height:19px; font-size:14px; color:#666;  border:none; margin:3px 0 0 7px; }*/
.searchform{background-image:url(../images/bg_cauta.gif); float:left; width:205px; height:27px; margin-right:3px;}
.bt1{ background-image:url(../images/bt_login.gif); color:#fff; text-decoration:none; font-size:14px; height:34px; line-height:34px; font-weight:bold; cursor:pointer; background-repeat:no-repeat; border:none; padding-bottom:4px; width:107px; }
.bt2{ background-image:url(../images/bt_logout.gif); color:#fff; text-decoration:none; font-size:13px; height:32px; line-height:32px; font-weight:bold; cursor:pointer; background-repeat:no-repeat; border:none; padding-bottom:3px; width:128px; }
.bt3{ background-image:url(../images/bt_trimite1.gif); color:#fff; text-decoration:none; font-size:14px; height:27px; line-height:27px; font-weight:bold; cursor:pointer; background-repeat:no-repeat; border:none; padding-bottom:4px; width:77px; }
.bt_cauta{ font-size:14px; text-decoration:none; color:#FFFFFF; line-height:27px; height:27px; padding:0 9px 4px 8px; cursor: pointer; border:none; font-weight:bold; background-image:url("../images/bt_cauta.gif"); width:63px; }
.bt_creaza{ background-image:url(../images/bt_creaza.gif); color:#fff; text-decoration:none; font-size:13px; height:27px; line-height:27px; font-weight:bold; cursor:pointer; background-repeat:no-repeat; border:none; padding-bottom:3px; width:77px; float:right; }

.pt3{ padding-top:3px;}
.pt10{ padding-top:10px;}
.pt21{ padding-top:21px;}
.pb10{ padding-bottom:10px;}
.pt7{ padding-top:4px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
h5{font-size:16px; color:#be0000; padding-bottom:7px;}
.hr{ height:1px; clear:both; border-bottom:1px solid #c9c9c9; padding-top:20px; margin-bottom:15px;}

.fl{ float:left;}
.fr{ float:right;}



.modul_mic{border-bottom:1px solid #cecece; padding:10px 0 10px 0; width:280px; margin-left:10px;}
.left_modul_mic{ float:left; width:100px; }
.right_modul_mic{ float:right; width:160px; }
.titlu_modul_mic{ height:50px;}
.titlu_modul_mic h2 { padding:0; margin:0; line-height:13px!important;}
.titlu_modul_mic h2 a{ font-size:14px; font-weight:bold; color:#353740; text-decoration:none;  }
.titlu_modul_mic h2 a:hover{ text-decoration:underline;}
.comentarii_vizualizari p{ font-size:12px; color:#000;}
.comentarii_vizualizari p span{ color:#494949;}
.paginare_modul{ height:16px; padding:5px 0 10px 40px;}
.paginare_modul li{ display:inline; padding-left:8px;}
.paginare_modul .link4{ text-decoration:none; color:#313131; font-size:12px; font-weight:bold;}
.paginare_modul .link4:hover{ color:#b60000;}
.paginare_modul .link4_selected{text-decoration:none; color:#b60000; font-size:14px; font-weight:bold;}



.left_footer_modul{ float:right; }
.adaugat{ float:left; background-image:url(../images/bg_separator1.gif); background-position:left; background-repeat:no-repeat; padding:3px 10px 0 10px; height:29px}
.adaugat p{ color:#494949; font-size:11px;}
.adaugat p span{ color:#000; font-weight:bold;}

.adaugat1{ float:left; background-image:url(../images/bg_separator1.gif); background-position:right; background-repeat:no-repeat; padding:3px 12px 0 0; height:29px; margin-top:3px;}
.adaugat1 p{ color:#494949; font-size:11px;}
.adaugat1 p span{ color:#000; font-weight:bold;}
.social{ float:left; background-image:url(../images/bg_separator1.gif); background-position:right; background-repeat:no-repeat; padding:7px 12px 0 12px; height:25px; margin-top:3px; }
.favorite{ float:left; padding:6px 0 0 12px;}

.photo{float:right; background-image:url(../images/bg_separator1.gif); background-position:left; background-repeat:no-repeat; padding:8px 10px 0 10px; height:24px; }
.photo img{ float:left}
.photo p{ float:left; padding:2px 0 0 6px; font-weight:bold; font-size:12px;}

.user_photo{ width:233px; height:176px; background-color:#FFFFFF; border:1px solid #cdcdcd; padding:2px }
.galerie { text-align:center;}
.galerie img{margin-top:15px;}


.a404{ padding-top:5px; border-top:1px solid #c9c9c9; margin-top:15px}
.a404 h1{ font-size:18px; font-weight:bold; color:#1d1e23; padding-top:10px;}
.a404 p{ color:#797d92; font-size:12px; padding-top:6px;}
.a404 pre{color:#797d92; font-size:12px; padding-top:6px;}

.cauta1{}
.cauta1 h1{ font-size:16px; font-weight:bold; color:#656565; }
.cauta1 h1 span{ color:#bc0707}

.favorite1 p{ font-size:14px; color:#bc0707; font-weight:bold; padding-top:5px; }

.eror{ background-image:url(../images/bg_eror.gif); background-repeat:no-repeat; width:240px; height:26px;}
.eror p{ font-size:14px; color:#181818; padding:4px 0 0 6px;}


.mess-false {
	padding: 5px;
	border: 1px solid #aa0000;
	font-weight: bold;
	color: #aa0000;
	background: #f6ecec;
	display: block;
	font-size: 12px;
}
.mess-true {
	padding: 5px;
	border: 1px solid #00aa00;
	font-weight: bold;
	color: #00aa00;
	background: #eff7ef;
	display: block;
	font-size: 12px;
}
.errors{
	color: #c30000;
	font-size: 12px;
}

h1.galerii_similare{ font-size:18px; font-weight:bold; padding-top:25px;}
.similare{ background-color:#f2f2f2; height:163px; padding:11px 0 14px 11px; margin-top:10px; border:1px solid #cccccc;}
.modul_similare{ width:120px; float:left; background-color:#fff; height:165px; margin:0 12px;  }

.modul_similare img{ width:120px; height:90px; }
.modul_similare ul{ padding:10px 6px 2px 6px;}

.modul_similare h1{ font-size:14px; font-weight:bold; margin:0; padding:0; height: 32px; overflow: hidden;}
.modul_similare h1 a{ text-decoration:none; color:#353740;}
.modul_similare h1 a:hover{ text-decoration:underline;}
.modul_similare p{ font-size:12px; color:#494949; padding-top:6px;}
.modul_similare p span{ color:#000;}

.modul_coment{ padding:10px 0 10px 0; border-bottom:1px solid #bebebe;}
.left_coment{ width:44px; float:left;}
.right_coment{ float:right; width:185px; text-align:left; }
.right_coment h2{ font-size:14px; font-weight:bold; color:#be0000;}
.right_coment p{ font-size:14px;}
.right_coment a{ font-size:12px; color:#be0000; text-decoration:none;}
.clear{ clear:both; height:1px;}

.subscribeMessages{height: 24px;}
.submess-false, .submess-true{
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	border: 1px solid #DEDEDE;
	background: #f2f2f2;
	padding: 3px 3px;
}
.submess-false{color: #cc0000;}
.submess-true{color: #00cc00;}

/* BEGIN: style.css */
	/* BEGIN: Resets */
/*	.left_col{width: 300px!important;}
	.right_col{width: 640px!important;padding: 0!important;}*/

	*{margin: 0;padding: 0;border: none;}
	a{text-decoration: none;outline-style: none;color: #ffbab8;}
	a:hover{color: #fff;}
	a.sel{color: #fff;}
	.selectmenu{padding: 0 31px 0 0;}
	/* END: Resets */

	/* BEGIN: Header */
	.hdr{background: url('../images/default/bg.png') repeat-y top center;}
	.hdr .top{width: 960px;height: 78px;margin: 0 auto;}
	.hdr .top #log{width: 255px;height: 55px;padding-top: 21px;background: url('../images/default/logo.png') no-repeat center center;display: block;float: left;}
	.hdr .top ul{margin-top: 20px;float: right;}
	.hdr .top ul li{float: left;height: 40px;padding: 0 15px;text-align: right;font-size: 14px;color: #fff;background: url('../images/default/spacer.gif') no-repeat right center;}
	.hdr .top ul li a{display: block;font-size: 12px;line-height: 60px;}
	.hdr .top ul li a.ath{height: 40px;display: block;background: url('../images/default/users.png') no-repeat top center;}
	.hdr .top ul li a.ath:hover{height: 40px;display: block;background: url('../images/default/users1.png') no-repeat top center;}
	
	.hdr .top ul li a.nac{background: url('../images/default/plus.png') no-repeat top center;}
	.hdr .top ul li a.nac:hover{background: url('../images/default/plus1.png') no-repeat top center;}
	.hdr .top ul li a.nac.sel{background: url('../images/default/plus1.png') no-repeat top center;}
	
	.hdr .top ul li a.ath span, .hdr .top ul li a.nac span{padding-top: 20px;}
	.hdr .top ul li.lst{padding-right: 0;background: none;}
	.hdr .top ul li.lst a{line-height: 14px;}

	.hdr .mid{height: 50px;background: url('../images/default/bg_nav.png') repeat-x left center;}
	.hdr .mid .w96{width: 960px;margin: 0 auto;}
	.hdr .mid ul li{margin-top: 15px;padding: 0 10px;float: left; background: url('../images/default/spacer-nav.gif') no-repeat left center;}
	.hdr .mid ul li.fst{padding-left: 0;background: none;}
	.hdr .mid ul li a{font-size: 20px;font-weight: bold;}

	.hdr .mid .frm{margin-top: 10px;float: right;}
	.hdr .mid .frm .txt{padding: 0 5px;height: 24px!important;border: 1px solid #750000;border-radius: 5px;color: #666666;}
	.hdr .mid .frm .sub{height: 28px;padding: 0 10px;color: #fff;font-weight: bold;border: 1px solid #750000;border-radius: 5px;cursor: pointer;background: #414141; /* Old browsers */background: -moz-linear-gradient(top, #414141 0%, #010101 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #414141 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #414141 0%,#010101 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #414141 0%,#010101 100%); /* IE10+ */background: linear-gradient(top, #414141 0%,#010101 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#010101',GradientType=0 ); /* IE6-9 */}

	.hdr .usr{height: 42px;background: url('../images/default/bg-usr-menu.jpg') repeat-x top left;border-bottom: 1px solid #aaa;}
	.hdr .usr .w96{width: 960px;margin: 0 auto;}
	.hdr .usr .w96 .ava{width: 28px;height: 28px;margin-top: 7px;border: 1px solid #aaa;float: left;}
	.hdr .usr .w96 .nam{margin: 15px 0 0 10px;float: left;color: #1d1e23;font-size: 16px;font-weight: bold;}
	.hdr .usr .w96 .nam a{color: #1d1e23;font-size: 16px; font-weight:bold;}
	.hdr .usr .w96 .nam a:hover{ text-decoration:underline}
	
	.hdr .usr .w96 .usc{position: relative;top: 6px;float: left;}

	.hdr .usr .w96 .usc #ust{width: 30px;height: 26px;margin: 7px 0 0 10px;background: url('../images/default/arrow.png') no-repeat top center;float: left;}
	.hdr .usr .w96 .usc .active{background: url('../images/default/arrow-sel.png') no-repeat top center!important;}

	.hdr .usr .w96 .usc #ust:hover{text-decoration: none;}
	.hdr .usr .w96 .usc #usm{width: 136px;display: none;position: absolute;top: 33px;right: 0;z-index: 999;}
	.hdr .usr .w96 .usc #usm .top{width: 136px;height: 6px;background: url('../images/default/usr-menu-top.png') no-repeat top center;}
	.hdr .usr .w96 .usc #usm .mdl{width: 136px;padding: 5px 0;background: url('../images/default/usr-menu-middle.png') repeat-y top center!important;}
	.hdr .usr .w96 .usc #usm .mdl a{padding: 2px 19px;display: block;color: #5d5d5d;font-size: 14px;}
	.hdr .usr .w96 .usc #usm .mdl a:hover{color: #000;text-decoration: none;}
	.hdr .usr .w96 .usc #usm .bot{width: 136px;height: 6px;background: url('../images/default/usr-menu-bottom.png') no-repeat top center;}
	/* END: Header */

	/* BEGIN: Modul login */
	.log{width: 230px;margin-bottom: 10px; padding: 10px;border-radius: 5px; background: #fff;border: 1px solid #ababab;}
	.log .tit{padding-bottom: 8px;margin-bottom: 10px;font-size: 16px;border-bottom: 1px solid #ababab;color: #666;font-weight: bold;}
	.log label{color: #A70000;font-size: 13px;font-weight: bold;padding-bottom: 3px;}
	.log input[type=text], .log input[type=password]{width: 208px!important;margin-bottom: 5px;padding: 5px 3px;border: 1px solid #b4b4b4!important;border-radius: 5px!important;color: #666;}
	.log input[type=submit]{position: relative;top: 5px;margin-right: 5px;}
	.log a{margin-top: 5px;font-size: 10px;color: #666;text-decoration: none;display: block;}
	.log a:hover{text-decoration: underline;}
	/* END: Modul login */

	/* BEGIN: Modul ultimele comentarii */
	.mod{margin-top: 10px;padding: 10px 10px 0 10px;border: 1px solid #b4b4b4; border-radius: 5px; background: #fff;}
	.mod .tit{
		padding:0 0 10px 0;
		font-size: 18px;
		color: #353740;
		font-weight: bold;
		border-bottom:1px solid #BEBEBE;
	}
	.mod .cnt{padding: 10px 0;border-bottom: 1px solid #b4b4b4;}
	.mod .cnt img{margin-right: 15px;border: 1px solid #b4b4b4;  float: left;}
	.mod .cnt .usr{font-size: 12px;font-weight: bold; line-height: 12px;color: #000; display: block; text-decoration: none;}
	.mod .cnt .usr:hover{text-decoration: underline;}
	.mod .cnt em{height: 16px;color: #666;font-size: 12px;display: block;line-height: 20px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap;}
	.mod .cnt .lnk{color: #b90000; font-size: 12px;line-height: 10px; text-decoration: none;}
	.mod .cnt .lnk:hover{text-decoration: underline;}
	/* END: Modul ultimele comentarii */

	/* BEGIN: Meniu dublu */
	.mdb{margin-bottom: 10px;border: 1px solid #ababab;border-radius:5px;background: #fff;}
	.mdb .mdt, .mdb .mdts{height: 33px;padding-left: 12px;font-size: 18px;line-height: 33px;font-weight: bold;float: left;}
	.mdb .mdts{background: #ddd;}
	/* END: Meniu dublu */
/* END: style.css*/

/* BEGIN: Validation engine */
.formError{position:absolute;top:300px; left:300px;padding-bottom:13px;display:block;z-index:5000;}
#debugMode{background:#000;position:fixed;width:100%; height:200px;top:0; left:0;overflow:scroll;opacity:0.8;display:block;padding:10px;color:#fff;font-size:14px;z-index:100000;}
.ajaxSubmit{ padding:20px; background:#fff; border:none;display:none}
.formError .formErrorContent{width:100%; background: #a70000;color: #fff;width: 150px;font-family: tahoma;font-size: 11px;border: 2px solid #000;box-shadow: 0px 0px 6px #000;-moz-box-shadow: 0px 0px 6px #000;-webkit-box-shadow: 0px 0px 6px #000;padding:4px 10px 4px 10px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}
.greenPopup .formErrorContent{background:#000;}
.blackPopup .formErrorContent{background:#393939;color:#FFF;}
.formError .formErrorArrow{position:absolute;bottom:0;left:20px;width:15px; height:15px;z-index:5001;}
.formError .formErrorArrowBottom{top:0;margin:-6px;}
.formError .formErrorArrow div{border-left:2px solid #000;border-right:2px solid #000;box-shadow: 0px 2px 3px #444;-moz-box-shadow: 0px 2px 3px #444;-webkit-box-shadow: 0px 2px 3px #444;font-size:0px; height:1px; background:#000;margin:0 auto;line-height:0px; font-size:0px; display:block;}
.formError .formErrorArrowBottom div{box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
.greenPopup .formErrorArrow div{background:#000;}
.blackPopup .formErrorArrow div{background:#393939;color:#FFF;}
.formError .formErrorArrow .line10{width:15px;border:none;} 
.formError .formErrorArrow .line9{width:13px;border:none;} 
.formError .formErrorArrow .line8{width:11px;} 
.formError .formErrorArrow .line7{width:9px;} 
.formError .formErrorArrow .line6{width:7px;} 
.formError .formErrorArrow .line5{width:5px;} 
.formError .formErrorArrow .line4{width:3px;} 
.formError .formErrorArrow .line3{width:1px;border-left:2px solid #000;border-right:2px solid #000;border-bottom:0px solid #000;}
.formError .formErrorArrow .line2{width:3px;border:none;background:#00;}
.formError .formErrorArrow .line1{width:1px;border:none;background:#00;}
/* END: Validation engine */




.footer_comentariu{ width:540px; height:30px; padding-top:6px;}
.left_footer_comentariu{ float:left; width:300px; padding-top:6px 6px 10px 6px;}
.left_footer_comentariu li{ display:inline; padding-right:6px; font-size:12px;}
.left_footer_comentariu li a{ font-size:12px; text-decoration:none; color:#000;}
.left_footer_comentariu li a:hover{ text-decoration:underline;}


.right_footer_comentariu_selected{float:right; width:105px; background-color:#dddddd; padding:6px 6px 10px 6px; border-radius:5px 5px 0 0;}
.right_footer_comentariu_selected p{ float:left;}
.right_footer_comentariu_selected img{ float:right; margin:3px;}
.right_footer_comentariu_selected a{ color:#636363; font-size:12px; text-decoration:none;}

.modul_coment1{ width:520px; height:127px; padding:15px 10px; background-color:#dddddd; border-radius:5px 0 5px 5px;}
.modul_coment1 .txt{ width:504px; height:48px; background-color:#fff; border:1px solid #ababab;color:#636363; margin-top:10px; padding:5px}
.modul_coment1 .f4{ font-size:13px; float:left; width:240px; height:22px; border:1px solid #ababab; padding-left:5px; color:#636363}
.modul_coment1 .f5{ font-size:13px; float:left; width:240px; height:22px; border:1px solid #ababab; padding-left:5px; color:#636363}
.bt_trimite{ background-image:url('../images/default/bg_bt_trimite.gif'); height:25px; border:1px solid #750000; padding:0 10px; color:#fff; border-radius:5px; font-size:14px; margin:10px 4px 0 0; float:right; cursor:pointer;}

.right_footer_comentariu p{ float:left;}
.right_footer_comentariu{ float:right;  }
/*.right_footer_comentariu:hover{ background-color:#dddddd; border-radius: 5px 5px 0 0;}*/
.right_footer_comentariu p{ float:left;}
.right_footer_comentariu img{ float:right; margin:3px 0 0 6px;}
.right_footer_comentariu a{ height: 30px; color:#636363; font-size:12px; text-decoration:none;display: block; padding:6px 6px 0 6px}

/*.right_footer_comentariu a img{float: right; }*/
.right_footer_comentariu a.selected{ background-color:#dddddd; border-radius: 5px 5px 0 0; }

.ml20{ margin-left:20px}

.bullet{width: 11px;height: 11px;margin-right: 10px;display: block;background: url('../images/default/bulet.png') no-repeat center center;}
#tabsComments ul li.ui-tabs-selected a{background: url('../images/default/bulet_hover.png') no-repeat center center;}
.tritabsDeclCont ul li.ui-tabs-selected a{background: url('../images/default/bulet_hover.png') no-repeat center center;}

#tritabs{padding-bottom: 30px;}
.tritabsDeclCont{position: relative;}
.tritabsDecl{width: 298px;margin: 0 auto;top: 655px;position: absolute;}
.txtInput{font-size:13px; float:left; width:285px; height:22px; border:1px solid #d8d8d8; padding-left:5px; color:#636363; background-color:#f2f2f2}
.txtInput1{font-size:13px; float:right; width:285px; height:22px; border:1px solid #d8d8d8; padding-left:5px; color:#636363; background-color:#f2f2f2}
.header_comentarii2{margin-bottom:20px; background-color:#e6e6e6; border:1px solid #d8d8d8; padding:7px 10px;}

.raspunsCommentariu{  margin-top: 15px; border-top:1px solid #cfcfcf; padding:10px 0 0 0; }
.raspunsCommentariu .nume a{ text-decoration:none; color:#be0000;font-size:14px; font-weight:bold;}
.raspunsCommentariu .nume a:hover{ text-decoration:underline;}
.raspunsCommentariu .nume span{font-size:12px; padding-top:4px;}
.raspunsCommentariu .left_comentariu_raspuns{ float:left; width:60px;}
.raspunsCommentariu .left_comentariu_raspuns img{border: 1px solid #B4B4B4;}
.raspunsCommentariu .right_comentariu_raspuns{ float:right; width:480px;}

.header_comentarii p{color: #fff;}
#mediaspace{ margin:auto;}

/*///////////////////////////////*/
/*///////////MODIFICARI//////////*/
/*///////////////////////////////*/
/*///////////////////////////////*/
/*///////////////////////////////*/

/* BEGIN: Social my messages */
.socMess{
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 10px;
	font-size: 12px;
}
.socMess .smContainer{}
.socMess .smContainer .sm_avatar{float: left; width:71px; height:68px; }
.socMess .smContainer .sm_avatar img{width: 54px;height: 54px;border:2px solid #cccccc;}
.socMess .smFooter{font-size: 13px; float:left; width:500px; height:68px;  }
.socMess .smFooter p{ padding-top:5px; line-height:1.3em; font-size:12px; color:#4f4f4f;}
.socMess .smFooter .smfUsername{color: #aa0000;font-weight: bold;font-size: 13px;}

.socMess .smFooter1{font-size: 13px; float:left; width:528px; height:68px;  }
.socMess .smFooter1 p{ padding-top:5px; line-height:1.3em; font-size:12px; color:#4f4f4f;}
.socMess .smFooter1 .smfUsername{color: #aa0000;font-weight: bold;font-size: 13px;}

.sm_action{ float:right; width:14px; height:68px;}
/*
#message{ border:1px solid #D8D8D8; width:600px; height:80px; font-size:13px; background-color: #F2F2F2; margin-bottom:10px;}
*/
/* END: Social my messages */

/* BEGIN: Notifications */
.socialNotifications{
	margin-top: 12px;
	float: right;
}
.socialNotifications .messages{width: 23px;height: 20px;margin-left: 20px;background: url('../images/default/icon-messages1.png') no-repeat top left;display: block;float: right;position: relative;}
.socialNotifications .messages:hover{width: 23px;height: 20px;margin-left: 20px;background: url('../images/default/icon-messages.png') no-repeat top left;display: block;float: right;position: relative;}
.socialNotifications .messages.sel{width: 23px;height: 20px;margin-left: 20px;background: url('../images/default/icon-messages.png') no-repeat top left;display: block;float: right;position: relative;}

.socialNotifications .wall{
	width: 19px;
	height: 18px;
	margin-left: 20px;
	background: url('../images/default/icon-home-notification.png') no-repeat top left;
	display: block;
	float: right;
}
.nr-message-alert{padding: 1px 3px;background: #b90000;font-size: 10px;border-radius: 2px;display: block;position: absolute;top: 8px;left: 12px;}
.socialNotifications .notifications{width: 24px;height: 18px;margin-left: 20px;background: url('../images/default/icon-user-notification1.png') no-repeat top left;display: block;float: right;position: relative;}
.socialNotifications .notifications:hover{width: 24px;height: 18px;margin-left: 20px;background: url('../images/default/icon-user-notification.png') no-repeat top left;display: block;float: right;position: relative;}
.socialNotifications .notifications.sel{width: 24px;height: 18px;margin-left: 20px;background: url('../images/default/icon-user-notification.png') no-repeat top left;display: block;float: right;position: relative;}

.socialNotifications .system{width: 19px;height: 20px;margin-left: 20px;background: url('../images/default/icon-system-notification1.png') no-repeat top left;display: block;float: right;position: relative;}
.socialNotifications .system:hover{width: 19px;height: 20px;margin-left: 20px;background: url('../images/default/icon-system-notification.png') no-repeat top left;display: block;float: right;position: relative;}
.socialNotifications .system.sel{width: 19px;height: 20px;margin-left: 20px;background: url('../images/default/icon-system-notification.png') no-repeat top left;display: block;float: right;position: relative;}

/* END: Notifications */
.myprofile_module{ margin-bottom: 10px;padding:12px 10px; border: 1px solid #b4b4b4; border-radius: 5px; background: #fff;}
.myprofile_module .titlu{ border-bottom:1px solid #c7c7c7; margin:0 0 10px 0; height:30px; width:276px;}
.myprofile_module .titlu p{ float:left;  font-size:20px; color:#373737;}
.myprofile_module .titlu a{ float: right; font-size:12px; color:#fff; background-color:#c70909;  border-radius:3px; padding:4px 10px;}

.myprofile_module .content{ width:276px;}
.myprofile_module .content .left_content{ float:left; width: 104px;}
.myprofile_module .content .left_content img{ width:102px; height:102px; border:2px solid #c7c7c7;}
.myprofile_module .content .right_content{ float:right; width: 160px;}
.myprofile_module .content .right_content .action{ font-size:12px; color:#363636; background-color:#ededed; border:1px solid #ababab; padding:4px 10px;}
.myprofile_module .content .right_content .action span{ font-size:16px; padding:1px 6px 0 0;}
.myprofile_module .content .right_content ul{ padding-bottom:6px;}
.myprofile_module .content .right_content ul li{ font-size:14px; padding-bottom:3px}
.myprofile_module .content .right_content ul li a,
.smFooter p a
{ text-decoration:none; color:#5d5d5d}
.myprofile_module .content .right_content ul li a:hover{ text-decoration:none; color:#000; }
.myprofile_module .content .right_content ul li a.selected{ text-decoration:none; color:#000; }

.activity_avatar{ float:left;}
.activity_avatar img{ width:50px; height:50px; border:1px solid #9d9d9d;}
.activity_header{ padding-top:10px;}
.activity_header ul{ float:left; padding-left:15px; }
.activity_username{ font-size:13px;}
.activity_username span{ color:#be0000; font-weight:bold;}
.activity_category{ font-size:13px; padding-top:2px;}
.activity_category span{ font-weight:bold;}
.activity_image{ padding:10px 0 20px 65px; border-bottom:1px solid #cccccc; margin-bottom:20px;  }

.activity-description{ padding:10px 0; border-bottom:1px solid #cccccc;}
.activity-description p{ font-size:14px; color:#5b5b5b; line-height:1.4em; }
.activity_name a{ font-size:18px; padding-top:10px; text-decoration:none; color:#373737;}
.activity_name a:hover{ color:#000; text-decoration:underline;}

.activity-actions{ padding-top:15px; height:25px}
.activity-actions-left{ float:left;}
.activity-actions-left ul li{ display:inline;}
.activity-actions-left .activity-action-like{ background: url("../images/like.gif") no-repeat; width:28px; height:24px; display:block; float:left; margin-right:3px;}
.activity-actions-left .activity-action-like:hover{ background: url("../images/like_hover.gif") no-repeat; width:28px; height:24px; display:block; float:left; margin-right:3px;}
.activity-actions-left .activity-action-like.sel{ background: url("../images/like_hover.gif") no-repeat; width:28px; height:24px; display:block; float:left; margin-right:3px;}
.activity-actions-left .activity-action-adauga{background: url("../images/favorite.gif") no-repeat;width:116px; height:24px;display:block; float:left; margin-right:3px;}
.activity-actions-left .activity-action-adauga:hover{background: url("../images/favorite_hover.gif") no-repeat;width:116px; height:24px;display:block; float:left; margin-right:3px;}
.activity-actions-left .activity-action-adauga.sel{background: url("../images/favorite_hover.gif") no-repeat;width:116px; height:24px;display:block; float:left; margin-right:3px;}
.activity-actions-left .activity-action-denunta{background: url("../images/denunta.gif") no-repeat;width:64px; height:24px;display:block; float:left}
.activity-actions-left .activity-action-denunta:hover{background: url("../images/denunta_hover.gif") no-repeat;width:64px; height:24px;display:block; float:left}
.activity-actions-left .activity-action-denunta.sel{background: url("../images/denunta_hover.gif") no-repeat;width:64px; height:24px;display:block; float:left}
.activity-actions-left .activity-action-distribuie{background: url("../images/distribuie.jpg") no-repeat;display: block;float: left;height: 24px;margin-right: 3px;width: 64px;}
.activity-actions-left .activity-action-distribuie:hover{background: url("../images/distribuie_hover.gif") no-repeat;display: block;float: left;height: 24px;margin-right: 3px;width: 64px;}
.activity-actions-left .activity-action-distribuie.sel{background: url("../images/distribuie_hover.gif") no-repeat;display: block;float: left;height: 24px;margin-right: 3px;width: 64px;}


.activity-actions-right{ float:right; width:180px; padding-top:3px;}
.activity-actions-right .google-plus-container{ float:left;}
.activity-actions-right .facebook-like-container{ float:left;}
.footer_galerie .google-plus-container{ float:left; padding: 8px 0 0 0}
.footer_galerie .facebook-like-container{ float:left; padding: 8px 0 0 0}



.friend{ padding:10px 0; border-bottom:1px solid #bebebe; height:58px; }
.friend .left-friend{ float:left; width:480px; height:58px;}
.friend .left-friend ul{ float:left; padding:0 0 0 15px;}
.friend .left-friend ul li h5{ font-size:14px; color:#aa0000; }
.friend .left-friend ul li h5 a{ text-decoration:none; color:#aa0000; font-weight:bold;}
.friend .left-friend ul li h5 a:hover{ text-decoration:underline;}

.friend .left-friend ul li p{ float:left; font-size:12px; color:#181818; padding:0 0 0 8px}
.friend .left-friend ul li p span{ color:#4f4f4f; }
.friend .left-friend ul li img{ float:left; margin:3px 0 0 0;}
.f-avatar img{ height:54px; width:54px; border:2px solid #cccccc; float:left;}

.friend .right-friend{ float:right; padding-top:6px; width:120px; height:58px}
.friend .right-friend img{ float:right; clear:right; margin-bottom:10px}
.friend .right-friend a{ display:block;}

#txtHeaderSearch{ border:1px solid #ababab; border-right: none; width:525px; height:24px; font-size:12px; color:#636363; float:left; padding:0 0 0 10px;}
#frmSearchUser{  padding:10px 0 0 0;}

.search_drop_down{ float:right;}
.search_drop_down .ui-selectmenu-button a{width:31px!important;}
.search_drop_down .ui-selectmenu-button .ui-selectmenu .ui-selectmenu-status{display: none;}
.search_drop_down .ui-selectmenu-button .ui-selectmenu .ui-selectmenu-icon{background: url('../images/drop_down.gif') no-repeat; width:31px; height:26px; margin-top:0!important; top:0!important;}

.search_lupa{background: url('../images/lupa.gif') no-repeat; width:32px; height:26px; float:left;}

.newMessage{
	background-color: #f2f2f2;
}

#frmMessage textarea{
	width: 598px;
	height: 148px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	background-color: #f2f2f2;
}
.db{display: block;}
.pr{position: relative;}
.tagcloud{position: absolute; right: -65px; top: 40px;}
.clearLayout{
	width:960px;
	height:10px;
	clear:both;
}
.clearSubscribe{
	width:1px;
	clear:both;
}

/* BEGIN: Header alert */
.headerAlertContainer{
	height: 30px;
	background: #ffc813;
	background: -moz-linear-gradient(top,  #ffc813 0%, #fd9707 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc813), color-stop(100%,#fd9707));
	background: -webkit-linear-gradient(top,  #ffc813 0%,#fd9707 100%);
	background: -o-linear-gradient(top,  #ffc813 0%,#fd9707 100%);
	background: -ms-linear-gradient(top,  #ffc813 0%,#fd9707 100%);
	background: linear-gradient(to bottom,  #ffc813 0%,#fd9707 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc813', endColorstr='#fd9707',GradientType=0 );
}
.headerAlert{
	width: 960px;
	margin: 0 auto;
	text-align:center;
	line-height:30px;
	color: #b20000;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
}
/* END: Header alert */

#newsletter{ margin:1px 8px 0 0;}
#terms{margin:1px 8px 0 0;}
#gender-0{margin:1px 8px 0 0;}
#gender-1{margin:1px 8px 0 0;}
#image{ border:1px solid #fff; margin:2px 0 0 2px;}
#message{ margin:0 0 10px 0;}
#updateStatus{ font-size:13px; resize:none}
.post{width: 572px;padding: 13px;background: #be0000; color: #ffbab8; margin:10px 0; border-radius:5px;}


.post ul.post_tabs li.ui-tabs-selected{background-color: transparent; }
.post ul.post_tabs li.ui-tabs-selected ui-state-active a{ color:#fff;}
.post ul.post_tabs li{padding: 0 15px 0 0!important;} 
.post ul.post_tabs li a{font-size: 14px!important;}
.post ul.post_tabs li.ui-state-default a{color: #ffbab8!important;}
.post ul.post_tabs li.ui-tabs-selected a,
.post ul.post_tabs li.ui-state-hover a{color: #fff!important;} 

.photo_title{ margin-bottom:10px;}
.photo_title #photo_title{ font-size:13px; color:#636363; width:560px; height:24px; line-height:20px; border:1px solid #ababab; padding:0 0 0 8px}
.photo_categ{ margin-bottom:10px;}
.photo_categ label{ color:#fff; font-size:13px; padding:0 10px 0 0}
.photo_description{ margin-bottom:10px;}
.photo_description #photo_description{ font-size:13px; color:#636363; width:552px; border:1px solid #ababab; padding:8px; height:50px; resize:none}
.photo_tags{margin-bottom:10px;}
.photo_tags #photo_tags{font-size:13px; color:#636363; width:560px; height:24px; line-height:20px; border:1px solid #ababab; padding:0 0 0 8px}
.video_title{margin-bottom:10px;}
.video_title #video_title{font-size:13px; color:#636363; width:560px; height:24px; line-height:20px; border:1px solid #ababab; padding:0 0 0 8px}
.video_url{margin-bottom:10px;}
.video_url #video_url{font-size:13px; color:#636363; width:560px; height:24px; line-height:20px; border:1px solid #ababab; padding:0 0 0 8px}
.video_categ{margin-bottom:10px;}
.video_categ label{ color:#fff; font-size:13px; padding:0 10px 0 0}
.video_description{margin-bottom:10px;}
.video_description #video_description{font-size:13px; color:#636363; width:552px; border:1px solid #ababab; padding:8px; height:50px; resize:none}
.video_tags{margin-bottom:10px;}
.video_tags #video_tags{font-size:13px; color:#636363; width:560px; height:24px; line-height:20px; border:1px solid #ababab; padding:0 0 0 8px}
.sub{ cursor:pointer;}


.activity-comments{ background-color:#e6e6e6; border:1px solid #cccccc; width:514px;  padding:0 8px 8px 8px; margin:15px 0 0 0;}
.activity-comments-action { height:26px; padding:8px 0 0 0;}
.activity-comments-action .txt{ float:left; width:450px; height:22px; border:1px solid #ababab; border-right: none; resize:none}
.activity-comments-action .bt4{ float:left; font-size:13px; background-color:#cccccc; color:#000; height:24px;  border:1px solid #ababab; padding: 0 6px }
.modul_comentariu .left_comentariu2{ width:50px; float:left;}
.modul_comentariu .left_comentariu2 img{ height:40px; width:40px;}
.modul_comentariu .right_comentariu2{ width:460px; float:left}

.uplBtn{height: 28px;padding: 0 10px;color: #fff;font-weight: bold;border: 1px solid #750000;border-radius: 5px;cursor: pointer;background: #414141; /* Old browsers */background: -moz-linear-gradient(top, #414141 0%, #010101 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(100%,#010101)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #414141 0%,#010101 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #414141 0%,#010101 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #414141 0%,#010101 100%); /* IE10+ */background: linear-gradient(top, #414141 0%,#010101 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#010101',GradientType=0 ); /* IE6-9 */}
.videResize{width: 100px; height: 104px; background-color: #fff; display: block;}
.ui-menu{padding: 0!important; background-color: #fff;}
.ui-menu .ui-menu-item a{border: 1px solid #ABABAB; font-size: 12px!important; color: #636363!important;}
.ui-menu .ui-menu-item a.ui-state-hoover{margin: 0!important;}

.smContent{ margin:10px 0 5px 0; border-bottom:1px solid #cccccc; padding:0 0 10px 0 }
.smContent span{ font-size:12px; color:#B90000}
.smContent p{ font-size:14px; line-height:1.4em; padding:10px 0 0 0;}